*{
    margin: 0;
    padding: 0;
}

.nav-bar
{
    background-color: #343a40;
    color: white;
    padding: 2rem;
    display: flex;
    padding-bottom: 2px;
    font-family: monospace;
} 
.nav-list
{
    display: flex;
    list-style: none;
    color: rgb(122, 118, 118);
    font-size: 20px;
    margin-top: -4px;

}
li > a
{
    color: rgb(177, 169, 169);
    text-decoration: none;
    padding: 3rem 0rem 1rem 2rem;
    

}
 h3
{
    padding: 0;
    display: inline;
    font-size:55px;
    margin-top: -25px;
}
a:hover
{
   color: white;
   text-decoration: none;
}

.datastructres-div
{
   display: flex;
   width: 200px;
   top: 65px;
   display:none;
   background-color: white;
}
.datastictures-list ul li a{
    text-decoration: none;
    color: black;
   
    font-style: normal;
    font-family: monospace;
    
}
div.wrapper ul
{
    list-style: none;
    background-color: white;
    width: 176px;
    top: 65px;
    margin-left: 34px;
    padding-left: -3px;
    padding-top: 2px;
    border-radius: 16px;
    display: none;
}   
button{
    border: none;
    background-color: #343a40;
    color: white;
}
button:hover
{
    display: flex;
    cursor: pointer;
   
}

/* dropdown */
.dropdown1 {
    position: relative;
    display: inline-block;
  }
  
  .dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown1:hover .dropdown1-content {
    display: block;
  }
  .dropa:hover
  {
      color: rgb(58, 56, 56);
      cursor: pointer;
  } 
  #dropa1:hover, #dropa2:hover, #dropa3:hover, #dropa4:hover, #dropb1:hover, #dropb2:hover, #dropb3:hover, #dropb4:hover{
    color: black;
    transform: scale(1.5);
    cursor: pointer;
  }
   


  /* nav-bar */
  .nav-li
  {
    
      margin-left: 45px;
  }

   /* for slider */
   .carousel-container
   {
       width: 100%;
   }
   .carousel-slide
   {
       display: flex;
       width: 120%;
       height: 500px;
   }
   .mobile-container{
    display:none;
}

/* styling card */
.card-container{
    display: flex;
    
    
}
.cards{
    width:45%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 20%);
    transition: all 200ms ease-out;
    padding: 2% 2% 2% 2%;
    height: fit-content;
    margin-top: 2%;
    margin-bottom: 5%;padding-top: 0%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
    
}
.cards:hover{
    transform: scale(1.01);
}
.cards-total{
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: -4%;
}
.card-heading-2{
    color:#28a745!important;
}
.card-heading-1{
    color: #007bff!important;
}

/* button-styling */
.button-click {
    border-radius: 4px;
    
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 6px;
    width: 160px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  } 
  .cont-btn{
    color: white;
  }
  
  .button-click span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button-click span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button-click:hover span {
    padding-right: 25px;
  }
  
  .button-click:hover span:after {
    opacity: 1;
    right: 0;
  }
  .click-1{
    background-color:#007bff!important;
  }
  .click-2{
      background-color: #28a745!important;;
  }


 @media only screen and (max-width:1000px){
     .nav-bar{display: none;}
    .mobile-container{
        display:block;
    }
    .topnav {
        overflow: hidden;
        background-color: #343a40;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav a.icon {
        background:#343a40;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav a:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color: #343a40;
    color: white;
      }

      .cards-total{
          display: initial;
          width: initial;
      }
      .cards{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
      }
     .drops{
        display: flex;
        flex-direction: column;
      }
      
      .dropdown1-contentm{
        display: none;
      }
     
 }
 @media only screen and (max-width:600px){
     .card-image{
         display: none;
     }
 }


 
 



 
